.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f2f2f2;
  background-image: url("Green Aesthetic Leaf Linktree Background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 48px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.form-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  color: #555;
}

/* button {
  display: block;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #0069d9;
  color: #fff;
} */

.content button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.content button .save-btn {
  padding: 10px 30px;
  background-color: #5bc0de;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.content button .delete-btn {
  padding: 10px 30px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.content button:hover .save-btn {
  background-color: #2aabd2;
  color: #fff;
}

.content button:hover .delete-btn {
  background-color: #c12d2a;
  color: #fff;
}

.bookmark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.bookmark:last-of-type {
  border-bottom: none;
}

.bookmark h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.bookmark a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bookmark a:hover {
  text-decoration: underline;
  color: #0069d9;
}

.item-date {
  font-size: 24px;
  color: #6f51f4;
  margin-top: 10px;
  text-align: right;
}
